* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.container {
  display: flex;
}
main {
  width: 100%;
  padding: 20px;
}
.sidebar {
  background-image: url("./component/assets/bg_1.png");
  color: #fff;
  height: 100vh;
  width: 200px;
  transition: all 0.5s;
}
.top_section {
  display: flex;
  align-items: center;
  padding: 20px 15px;
}
.logo {
  font-size: 20px;
  margin-left: 40px;
}
.bars {
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}
.link {
  display: flex;
  color: #fff;
  padding: 16px 15px;
  gap: 40px;
  transition: all 0.5s;
}
.link:focus,
.link:hover {
  color: #ffa500;
}

.link_text:after {
  content: "";
  position: absolute;
  background-color: #fff;
  height: 1.5px;
  width: 0;
  left: 0;
  bottom: -2px;
  transition: 0.3s;
}

.link_text:hover:after {
  width: 100%;
}

.link_text:before {
  content: "";
  position: absolute;
  background-color: #fff;
  height: 1.5px;
  width: 0;
  left: 0;
  bottom: 37px;
  transition: 0.3s;
}

.link_text:hover:before {
  width: 100%;
}

.icon,
.link_text {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  padding: 5px 6px;
}
